BETTER_AUTH_SECRET="" # Better Auth Secret: https://better-auth.com/docs/installation
BETTER_AUTH_URL="" # Better Auth base URL
POSTGRESQL_URL="" # Database URL (See others, eg: https://better-auth.com/docs/adapters/mysql for MySQL. Update in /lib/auth.ts and /lib/db.ts)
NEXT_PUBLIC_APP_URL="" # Next app prod url
NEXT_PUBLIC_SOCKET_URL="" # Optional: Socket URL. By default it runs on base url